@import "tailwindcss";

:root {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #F2F2F7; /* iOS System Gray 6 */
  color: #000000;
}

/* iOS-like Scrollbar for WebKit */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
